{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "> 1%"],
        "node": "current"
      },
      "debug": true
    }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
  ],
  "env": {
    "RELEASE": {
      "plugins": [
        ["css-modules-transform", {
          "generateScopedName": "[name]-[local]_[hash:base64:5]",
          "append": [
            "./src/theme",
            "autoprefixer"
          ],
          "extractCss":  {
            "dir": "./dist/stylesheets/local",
            "relativeRoot": "./src/",
            "filename": "[name].css"
          }
        }]
      ]
    }
  }
}
