---
root: true
parser: "babel-eslint"
extends:
  - "airbnb"
  - "plugin:flowtype/recommended"
  - "plugin:css-modules/recommended"

plugins:
  - "flowtype"
  - "css-modules"

env:
  jest: true

rules:
  comma-dangle:
    - error
    - arrays: "always-multiline"
      objects: "always-multiline"
      imports: never
      exports: never
      functions: ignore

  react/require-default-props: off
  react/jsx-filename-extension:
    - error
    - extensions:
      - ".js"
      - ".jsx"

  import/no-extraneous-dependencies:
    - error
    - devDependencies: true
      optionalDependencies: false
      peerDependencies: false
