---
root: true
parser: "babel-eslint"
extends: "airbnb"
plugins:
  - "flowtype"
env:
  jest: true

rules:
  comma-dangle:
    - error
    - arrays: "always-multiline"
      objects: "always-multiline"
      imports: never
      exports: never
      functions: ignore
  react/jsx-filename-extension:
    - error
    - extensions:
      - ".js"
      - ".jsx"
  import/no-extraneous-dependencies:
    - error
    - devDependencies: true
      optionalDependencies: false
      peerDependencies: false
