---
root: true
parser: "babel-eslint"
extends:
  - "airbnb"
  - "plugin:flowtype/recommended"
  - "plugin:css-modules/recommended"
  - "plugin:jest/recommended"

plugins:
  - "flowtype"
  - "css-modules"
  - "jest"

env:
  jest: true

rules:
  comma-dangle:
    - error
    - arrays: "always-multiline"
      objects: "always-multiline"
      imports: "always-multiline"
      exports: "always-multiline"
      functions: ignore
  no-unused-vars:
    - error
    - ignoreRestSiblings: true

  react/require-default-props: off
  react/jsx-wrap-multilines: off
  react/jsx-filename-extension:
    - error
    - extensions:
      - ".js"
      - ".jsx"
  react/sort-comp:
    - error
    - order:
      - "type-annotations"
      - "static-methods"
      - "lifecycle"
      - "everything-else"
      - "render"

  import/no-extraneous-dependencies:
    - error
    - devDependencies: true
      optionalDependencies: false
      peerDependencies: false
