{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": [".eslintrc", ".stylelintrc"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
