{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-css-modules",
    "stylelint-config-prettier"
  ],
  "plugins": ["stylelint-value-no-unknown-custom-properties", "stylelint-a11y"],
  "rules": {
    "value-keyword-case": null,
    "csstools/value-no-unknown-custom-properties": [
      true,
      {
        "importFrom": "src/styles/variables.css"
      }
    ],
    "a11y/media-prefers-reduced-motion": [true, { "severity": "warning" }],
    "a11y/no-outline-none": [true, { "severity": "warning" }],
    "a11y/selector-pseudo-class-focus": [true, { "severity": "warning" }],
    "a11y/content-property-no-static-value": [true, { "severity": "warning" }],
    "a11y/font-size-is-readable": [true, { "severity": "warning" }],
    "a11y/line-height-is-vertical-rhythmed": [true, { "severity": "warning" }],
    "a11y/no-display-none": [true, { "severity": "warning" }],
    "a11y/no-spread-text": [true, { "severity": "warning" }],
    "a11y/no-obsolete-attribute": [true, { "severity": "warning" }],
    "a11y/no-obsolete-element": [true, { "severity": "warning" }],
    "a11y/no-text-align-justify": [true, { "severity": "warning" }],
    "a11y/media-prefers-color-scheme": [true, { "severity": "warning" }]
  }
}
