
.root {
  padding: 1rem 2rem;
  border: 1px solid;
  background-color: transparent;
}

.root:hover {
  cursor: pointer;
}

.primary {
  color: var(--color-primary);
}

.secondary {
  color: var(--color-secondary);
}

.danger {
  color: var(--color-danger);
}
